body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	font-family: 'Cabin', sans-serif;
}

* {
	cursor: default;
}
html,body {
	width:100%;
	height:100%;
}

li {
	border: 1px solid #696;
	width:98%;
	padding: 20px 0;
	text-align: center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	background: #EEFF99;
	position: relative;
}

q {
	position: absolute;
	bottom:0px;
	right: 3px;
	font-size: 10px;
}

pre {
	position: absolute;
	left: 0px;
	top: 0px;
}

.ui-tooltip {
    padding: 10px 20px;
    border-radius: 20px;
	font-size: 12px;
    box-shadow: 0 0 7px black;
  }

#nosupport {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 99999999;
	background-color: black;
	padding: 0px auto;
	color: white;
}

#navbar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 32px;
	border: 1px solid #000;
}

#game {
	position: absolute;
	left: 0px;
	top: 32px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	width: 100%;
}

#col1, #col2, #col3, #col4 {
	position: absolute;
	overflow-y: auto;
	top: 0px;
	bottom: 40px;
}

#col1 {
	left: 0px;
	width: 75%;
	min-width: 256px;
	background-color: red;
	z-index: 4;
}

#col2 {
	left: 25%;
	width: 25%;
	min-width: 256px;
	background-color: blue;
	z-index: 3;
	display: none;
}

#col3 {
	left: 50%;
	width: 25%;
	min-width: 256px;
	background-color: green;
	z-index: 2;
	display: none;
}

#col4 {
	right: 0px;
	width: 25%;
	min-width: 256px;
	background-color: orange;
	z-index: 10;
}

#menu {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background-color: white;
	text-align: center;
	vertical-align: middle;
}

#efforter {
	-webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
	height:200px;
	border:1px solid black;
	text-align: center;
	line-height:200px;
	font-family: 'Impact';
	font-size:42px;
	font-weight: bold;
	color: #F0EAD6;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

#efforter:hover {
	cursor: pointer;
}

#ticker {
	display: none;
	width: 35%;
	overflow: hidden;
	height: 40px;
	margin: 2px auto;
}

.disabled {
	opacity: 0.6;
}